<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xk.rxexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".itemActivity.RxCreateActivity"    />
        <activity android:name=".itemActivity.RxMapActivity"    />
        <activity android:name=".itemActivity.RxFlatMapActivity"    />
        <activity android:name=".itemActivity.RxConcatMapActivity"    />
        <activity android:name=".itemActivity.RxZipActivity"    />
        <activity android:name=".itemActivity.RxDoOnNextActivity"    />
        <activity android:name=".itemActivity.RxConcatActivity"    />
        <activity android:name=".itemActivity.RxJustActivity"    />
        <activity android:name=".itemActivity.RxSingleActivity"    />
        <activity android:name=".itemActivity.RxDistinctActivity"    />
        <activity android:name=".itemActivity.RxFilterActivity"    />
        <activity android:name=".itemActivity.RxTimerActivity"    />
        <activity android:name=".itemActivity.RxIntervalActivity"    />
        <activity android:name=".itemActivity.RxSkipActivity"    />
        <activity android:name=".itemActivity.RxTakeActivity"    />
        <activity android:name=".itemActivity.RxLastActivity"    />
        <activity android:name=".itemActivity.RxDebounceActivity"    />
        <activity android:name=".itemActivity.RxMergeActivity"    />
        <activity android:name=".itemActivity.RxScanActivity"    />
        <activity android:name=".itemActivity.RxReduceActivity"    />
        <activity android:name=".itemActivity.RxCompletableActivity"    />
        <activity android:name=".itemActivity.RxBusActivity"    />
    </application>

</manifest>